.DS_Store
.vscode
AutismExplainer.xcodeproj/project.xcworkspace/xcuserdata
AutismExplainer.xcodeproj/xcuserdata/*.xcuserdatad
*.mobileprovision
*.cer
*.p12
*.pem
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcconfig
DerivedData/
build/
cleanup_git_history.sh